body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Futura', 'Arial', sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  background-color: white;
}

.split {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow-y: auto;
}

.left {
  left: 0;
  background-image: url('monet3.jpg');
  background-size: cover;
  background-position: center;
}

.right {
  right: 0;
  background-color: white;
  background-image: url('edhop2.jpg');
  background-size: cover;
  background-position: center;
}

.centered {
  position: relative;
  text-align: center;
}

.text-block {
  padding: 20px;
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1.25em;
}

.first-part {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.25em;
  color: white;
}

.button-box {
  margin-top: 20px;
}

.button {
  background-color: #ffffff;
  padding: 15px 32px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}

.dialogue {
  padding: 10px;
  text-align: center;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.video-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
